*~
acceltoolbar
accelpopup
canvas-redraw
clutter*
gtkcanvas
gtkxvfb
minibutton
multiscreen
svgcanvas
levelmeter
notebook
scalemarkers*
stylecolors*
svgcanvasitem
svgcanvas2
syncviews
toolbutton
volumebutton
